parameters:
    level: 0
    autoload_directories:
        - Cron
        - Console
        - Helper
        - Test
    excludes_analyse:
        - 'vendor'
    ignoreErrors:
        - '#invalid typehint#'
        - '#unknown class#'
        - '#Factory not found#'
    reportUnmatchedIgnoredErrors: false