<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <review_reminder>
            <options>
                <enabled>1</enabled>
                <remind_order_older_than>7</remind_order_older_than>
                <limit>200</limit>
                <cron>0</cron>
                <template>review_reminder_options_template</template>
                <identity>general</identity>
            </options>
        </review_reminder>
    </default>
</config>
